image: Visual Studio 2017
version: 2.0.{build}
configuration: Release
cache:
  - packages
before_build:
  - dotnet restore
clone_depth: 1
install:
  - ps: .\SetAppVeyorBuildVersion.ps1
build:
  project: NLog.StructuredLogging.Json.sln
  parallel: true
  verbosity: minimal
pull_requests:
  do_not_increment_build_number: true
test_script:
  - dotnet test .\src\NLog.StructuredLogging.Json.Tests\NLog.StructuredLogging.Json.Tests.csproj --framework net462
after_build:
- dotnet pack .\src\NLog.StructuredLogging.Json\NLog.StructuredLogging.Json.csproj -o ../output --no-build
artifacts:
- path: 'output\*.nupkg'
nuget:
  disable_publish_on_pr: true
deploy:
- provider: NuGet
  api_key:
    secure: 6MzbzEs4YdJKS67Gio5gEO8mNKmwfC4UHTCmECZ1KOutI6ndm4vAECazmVNB6an7
  artifact: /.*nupkg/
  on:
    appveyor_repo_tag: true