<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
    autoReload="true">

  <variable name="log_dir" value="${basedir}/../logs"/>
  <variable name="archive_dir" value="${basedir}/../logs_archive"/>
  <variable name="human_readable_layout" value="${longdate}|${level}|${logger}|${message}|${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method,stackTrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method,stackTrace}}"/>

  <targets async="true">
    <target xsi:type="Null" name="drop"/>

    <target xsi:type="Debugger" name="debugger" layout="${human_readable_layout}"/>

    <target
      xsi:type="Console"
      name="console"
      layout="${human_readable_layout}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console"/>
    <logger name="*" minlevel="Trace" writeTo="debugger"/>
  </rules>
</nlog>

